*{
 padding: 0px;
 margin: 0px;
}

/* 공통부분 모아서 선언가능 */
header, main, footer{
 width: 80%;
 margin-left: 10%;
}

/* header{
 background-color: aliceblue;
 width: 80%;
 margin-left: 10%;
}

main{
 background-color: aliceblue;
 width: 80%;
 margin-left: 10%;
} */
main, footer{
 padding: 20px;
}
header, header ul{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

footer{
 background-color: black;
 color: white;
 width: 80%;
 margin-left: 10%;
 box-sizing: border-box;
}

header{
 display: flex; 
 flex-direction: row;
 justify-content: space-between;
 height: 80px;
 align-items: center;
 padding: 20px;
 box-sizing: border-box;
}

/* header ul 도 가능 */
nav>ul{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

ul{
 list-style: none;
}

.menuli{
 display: inline-flex;
 align-items: center;
 margin-right: 10px;
 margin-left: 10px;
 padding: 10px;
 border-radius: 10px;

 background-color: lightcoral;
 /* color: whitesmoke; 적용안됨. a 태그에서 */
}

.menuli:hover{
 background-color: chocolate;
}

a{
 text-decoration: none;
 color: whitesmoke;
}

a>img{
 width: 20px;
 height: 20px;
}
 li img{
  width: 20px;
  height: 20px;
 }
/* 프론트엔드 부분 */
article{
 padding: 60px;
}

h1{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 padding: 20px;
}
article>p{
 padding: 20px;
}
p>span{
 color: chocolate;
}
/* p>span{
 display: inline-flex;
 flex-direction: row;
} */

section{
 margin: 20px;
 padding: 20px 40px;
 background-color: rgb(201, 162, 162);
 border-radius: 15px;
}

h2{
 padding-bottom: 20px;
}

.secDiv {
 display: flex;
 flex-direction: row;
}

.secDiv > div {
 width: 20%;
}

.secDiv img {
 width: 80%;
 border-radius: 50%;
}
.secDiv > p {
 width: 80%;
 font-size: medium;
 color: gray;
}

@media screen and (max-width : 1024px) {
 header, main, footer {
   width: 100%; 
   margin-left: 0px; 
 }
}

@media screen and (max-width : 768px) {
 header, header ul {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   
   width: 100%;
 }
 header {
   height: auto;
   padding: 20px;
 }

 header li{
   width: 90%;
   margin-bottom: 5px;
 }
}