/* 
header{
 width: 60%;
 background-color: green;
}

article{
 width: 60%;
}

main{
 display: flex;
}

h1 > div {
 background-color: brown;
}

article {
 background-color: aquamarine;
 width: 80%;
 height: 20%;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 padding: 20px;
}

#text1 {
height: 34px;
border-radius: 5px;
} */

.sec, .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec {
  margin: 2px; 
  width: 100%;
  flex-direction: column;
}
.row {
  width: 80%;

  flex-direction: row;
}

#txt1 {
  height: 40px;
}

#bt1 {
  width: auto;
}

input {
 width: 40%;
}

.col1, .col2 {

  width: 50%;
  display: flex; 
  align-items: center;
  padding: 10px;
}

.col1 {
  justify-content: end;
}

.col2 {
  justify-content: start;
} 

